Repository danngo342/solidjs-tutorial-notes: changes, and which lint-staged commands are due for each by the changed paths.
All: tsc-files --noEmit -p tsconfig.eslint.json, eslint --fix, prettier --write

.lintstagedrc.json:

{
  "*.{ts,tsx}": ["tsc-files --noEmit -p tsconfig.eslint.json", "eslint --fix"],
  "*.json": ["prettier --write", "eslint --fix"]
}

bugfix: failure of tsc to recognize children props
  .eslintrc.json
  package.json
  tsconfig.eslint.json
  tsconfig.json
  yarn.lock
Due: eslint --fix, prettier --write

keep quotes consistent
  .prettierrc.json
Due: eslint --fix, prettier --write

make linters and type-checking more strict
  .eslintrc.json
  tsconfig.json
Due: eslint --fix, prettier --write

lenience for fn expressions
  .eslintrc.json
Due: eslint --fix, prettier --write

clean up linters and formatters
  .eslintrc.json
  .prettierrc.json
Due: eslint --fix, prettier --write

solid tutorial, about jsx, signals, loops, and lifecycles
  .lintstagedrc.json
  src/App.tsx
  src/ControlFlowError.tsx
  src/DymanicColor.tsx
  src/Input.tsx
  src/Login.tsx
  src/OnMount.css
  src/OnMount.tsx
  src/PetList.tsx
  src/Popup.css
  src/Popup.tsx
  src/SwitchMatch.tsx
Due: tsc-files --noEmit -p tsconfig.eslint.json, eslint --fix, prettier --write

use pnpm
  .gitignore
  yarn.lock
Due: none

event continue tutorial until event binding
  package.json
  pnpm-lock.yaml
  src/App.tsx
  src/Cleanup.tsx
  src/EventBinding.tsx
  tsconfig.json
Due: tsc-files --noEmit -p tsconfig.eslint.json, eslint --fix, prettier --write

Style, Classlist, and Event bindings
  src/App.tsx
  src/ClassListBinding.module.css
  src/ClassListBinding.tsx
  src/EventBinding.css
  src/EventBinding.tsx
  src/StyleComp.tsx
  src/index.tsx
  tsconfig.json
  vite.config.ts
Due: tsc-files --noEmit -p tsconfig.eslint.json, eslint --fix, prettier --write

more reliable prettier; tutorial on refs and directives
  .eslintrc.json
  .lintstagedrc.json
  package.json
  pnpm-lock.yaml
  src/App.tsx
  src/BindingDirectives.css
  src/BindingDirectives.tsx
  src/BindingRef.tsx
  src/ForwardRef.tsx
  src/canvas.css
  src/clickOutside.ts
  src/solidjsTypes.ts
  tsconfig.json
  vite.config.ts
Due: tsc-files --noEmit -p tsconfig.eslint.json, eslint --fix, prettier --write

props tutorial
  src/props/ChildrenProps.tsx
  src/props/DefaultProps.tsx
  src/props/SplitProps.tsx
Due: tsc-files --noEmit -p tsconfig.eslint.json, eslint --fix

stores, context, and reactive stores tutorial
  package.json
  pnpm-lock.yaml
  src/App.tsx
  src/stores/ContextClient.tsx
  src/stores/CounterProvider.tsx
  src/stores/CreateStore.tsx
  src/stores/ImmutableAdapter.tsx
  src/stores/ImmutableChange.tsx
  src/stores/NestedReactivity.tsx
  src/stores/ReduxStore.tsx
  src/stores/StoreWithoutContext.tsx
  src/stores/reactiveStore.tsx
  src/stores/useRedux.tsx
Due: tsc-files --noEmit -p tsconfig.eslint.json, eslint --fix, prettier --write

reactivity tutorial
  src/App.tsx
  src/reactivity/BatchingUpdates.tsx
  src/reactivity/On.tsx
  src/reactivity/Untracked.tsx
Due: tsc-files --noEmit -p tsconfig.eslint.json, eslint --fix

async, transitions, and suspense tutorial
  src/App.tsx
  src/async/Child.tsx
  src/async/Greeting.tsx
  src/async/LazyComp.tsx
  src/async/Profile.tsx
  src/async/Resources.tsx
  src/async/SuspenseComp.tsx
  src/async/SuspenseList.tsx
  src/async/Transitions.tsx
  src/async/fetchProfileData.ts
  src/async/styles.css
Due: tsc-files --noEmit -p tsconfig.eslint.json, eslint --fix
